<launch>
	<include file="$(find vicon_bridge)/launch/vicon.launch"/>
	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
		<arg name="align_depth" value="true"/>
		<arg name="filters" value="pointcloud"/>
	</include>
	<node pkg="robot_tracker" type="controller.py" name="iiwa" output="screen">
  </node>
	<include file="$(find robot_tracker)/launch/view.launch"/>
</launch>
