<?xml version="1.0"?>
<launch>

    <!-- ===================================================================================== -->
    <!-- |    Lauch file to start Gazebo with an IIWA using various controllers.	         | -->

    <!-- |    It allows to customize the name of the robot, for each robot                   | -->
    <!-- |	  its topics will be under a nameespace with the same name as the robot's.       | -->

    <!-- |	  One can choose to have a joint trajectory controller or                        | -->
    <!-- |    controllers for the single joints, using the "trajectory" argument.            | -->
    <!-- ===================================================================================== -->

    <arg name="hardware_interface" default="PositionJointInterface" />
    <arg name="robot_name" default="iiwa" />
    <arg name="model" default="iiwa14"/>
    <arg name="trajectory" default="true"/>
    <arg name="tool_name" default="SchunkAndFingers"/>
    <arg name="endpoint_frame" default="TCP"/>


    <param name="/iiwa/toolName" type="string" value="$(arg tool_name)" />
    <param name="/iiwa/endpointFrame" type="string" value="$(arg endpoint_frame)" />
</launch>
